---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <div class="parallax-section h-screen relative">
      <div
        class="parallax-overlay absolute inset-0 flex flex-col items-center justify-center text-white text-center text-balance xl:px-96 px-10"
      >
        <h1 class="sm:text-7xl text-3xl font-extrabold">Visítanos</h1>
        <button
          class="mt-6 px-8 py-3 bg-[#004688] text-white rounded-2xl font-semibold"
          >Ver mapa</button
        >
      </div>
    </div>
    <div class="flex flex-col items-center justify-center p-32 gap-y-16">
      <h1 class="text-5xl font-bold">Planifica tu vista</h1>
      <div
        class="flex flex-col items-center justify-center text-white gap-y-20"
      >
        <div class="flex gap-x-20">
          <div
            class="bg-[#0059AD] w-96 h-96 flex flex-col items-start justify-center gap-y-4 p-10 rounded-xl"
          >
            <h2 class="text-4xl font-bold">Servicios dominicales</h2>
            <p>
              Tenemos servicios a las 10:30 am; ven y disfruta de cantar al
              Señor y de la predicación de su palabra.
            </p>
          </div>
          <div
            class="bg-[#0059AD] w-96 h-96 flex flex-col items-start justify-center gap-y-4 p-10 rounded-xl"
          >
            <h2 class="text-4xl font-bold">¿Traer a los niños?</h2>
            <p>
              Contamos con un ministerio a la niñez donde vas a poder dejar a
              los pequeños. Ellos van a disfrutar un día inigualable, mientras
              estas disfrutando del culto del Señor.
            </p>
          </div>
        </div>
        <div class="flex gap-x-20">
          <div
            class="bg-[#0059AD] w-96 h-96 flex flex-col items-start justify-center gap-y-4 p-10 rounded-xl"
          >
            <h2 class="text-4xl font-bold">Estacionamiento</h2>
            <p>
              Aparcar es fácil. A los alrededores de la iglesia vas a poder
              encontrar mucho espacio de para dejar el coche.
            </p>
          </div>
          <div
            class="bg-[#0059AD] w-96 h-96 flex flex-col items-start justify-center gap-y-4 p-10 rounded-xl"
          >
            <h2 class="text-4xl font-bold">Cuando llegas</h2>
            <p>
              Por favor acércate a uno de los líderes, estamos ansiosos de
              conocerte, pues hemos preparado un pequeño presente para ti.
            </p>
          </div>
        </div>
      </div>
      <div class="mt-24 flex flex-col items-center">
        <h1 class="text-5xl font-bold mb-20">Horarios</h1>
        <a
          target="_blank"
          href="https://www.youtube.com/"
          <div
          class="parallax-section-culto lg:w-[1000px] w-full h-72 rounded-xl mb-16"
        >
          <div
            class="parallax-overlay-culto h-72 flex flex-col items-center justify-center rounded-xl"
          >
            <h1 class="text-white font-bold lg:text-5xl text-2xl">
              Culto de Iglesia
            </h1>
            <h1 class="text-white font-normal lg:text-4xl text-2xl">
              Domingos - 10:30 am
            </h1>
          </div>
        </a>
        <a
          target="_blank"
          href="https://www.youtube.com/"
          <div
          class="parallax-section-jovenes lg:w-[1000px] w-full h-72 rounded-xl mb-16"
        >
          <div
            class="parallax-overlay-jovenes h-72 flex flex-col items-center justify-center rounded-xl"
          >
            <h1 class="text-white font-bold lg:text-5xl text-2xl">
              Culto de Jóvenes
            </h1>
            <h1 class="text-white font-normal lg:text-4xl text-2xl">
              Sábados - 18:00 pm
            </h1>
          </div>
        </a>
        <a
          target="_blank"
          href="https://www.youtube.com/"
          <div
          class="parallax-section-oracion lg:w-[1000px] w-full h-72 rounded-xl mb-16"
        >
          <div
            class="parallax-overlay-oracion h-72 flex flex-col items-center justify-center rounded-xl"
          >
            <h1 class="text-white font-bold lg:text-5xl text-2xl">
              Culto de Oración (virtual)
            </h1>
            <h1 class="text-white font-normal lg:text-4xl text-2xl">
              Miércoles - 21:00 pm
            </h1>
          </div>
        </a>
        <a
          target="_blank"
          href="https://www.youtube.com/"
          <div
          class="parallax-section-escuela lg:w-[1000px] w-full h-72 rounded-xl"
        >
          <div
            class="parallax-overlay-escuela h-72 flex flex-col items-center justify-center rounded-xl"
          >
            <h1 class="text-white font-bold lg:text-5xl text-2xl">
              Escuela Bíblica (virtual)
            </h1>
            <h1 class="text-white font-normal lg:text-4xl text-2xl">
              Viernes - 21:00 pm
            </h1>
          </div>
        </a>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  .parallax-section {
    background-image: url("/src/assets/maps.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax-overlay {
    background: rgba(0, 0, 0, 0.713);
  }

  .parallax-section-culto {
    background-image: url("/src/assets/grupo-iglesia-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-inline: 3px;
  }
  .parallax-overlay-culto {
    background: rgba(0, 0, 0, 0.713);
  }

  .parallax-section-jovenes {
    background-image: url("/src/assets/jovenes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-inline: 3px;
  }
  .parallax-overlay-jovenes {
    background: rgba(0, 0, 0, 0.713);
  }

  .parallax-section-oracion {
    background-image: url("/src/assets/reu-virtual.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-inline: 3px;
  }
  .parallax-overlay-oracion {
    background: rgba(0, 0, 0, 0.713);
  }

  .parallax-section-escuela {
    background-image: url("/src/assets/biblia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-inline: 3px;
  }
  .parallax-overlay-escuela {
    background: rgba(0, 0, 0, 0.713);
  }
</style>
