---
import Card from ".././utils/card.astro";
import bibleIcon from "../assets/bible.svg";
import blessIcon from "../assets/bless-svgrepo-com.svg";
import palomaIcon from "../assets/pigeon.svg";
---

<section
  class="bg-white py-28 px-5 flex flex-col justify-center items-center gap-y-20"
>
  <h1
    class="md:text-[45px] text-[35px] text-center font-extrabold text-[#141414]"
  >
    ¿En qué creemos?
  </h1>
  <div class="flex flex-col gap-x-5 items-center justify-center">
    <div class="lg:flex lg:gap-x-10">
      <Card
        imageImport={bibleIcon}
        titleCard={"La Biblia"}
        descriptionCard={"Creemos que la Biblia es la revelación autorizada de Dios a los hombres y que está completamente sin errores, inspirada únicamente por la dirección del Espíritu Santo. Por lo tanto, las Escrituras son las únicas guías confiables en cuestiones de fe y práctica."}
      />
      <Card
        imageImport={blessIcon}
        titleCard={"Dios"}
        descriptionCard={"Creemos en la Trinidad — Tres Personas: Padre, Hijo y Espíritu Santo. Los tres son igualmente Dios, son de una sola sustancia y no tienen principio ni fin."}
      />
      <Card
        imageImport={palomaIcon}
        titleCard={"Regreso de Cristo"}
        descriptionCard={"Creemos en el regreso personal de nuestro Señor Jesucristo antes del establecimiento de Su reino en la tierra. Los que son creyentes estarán para siempre en la presencia de Dios, y los que han rechazado a Cristo serán separados de Dios para siempre. "}
      />
    </div>
    <div>
      <a
        href="/creencias"
        class="bg-[#0059AD] text-white text-xl font-semibold rounded-md h-10 mt-6 p-7 flex justify-center items-center"
        >Ver más</a
      >
    </div>
  </div>
</section>
