---
import CardHorario from "../utils/cardHorario.astro";
import jovenes_reu from "../assets/jovenes-reu.jpg";
import culto_iglesia from "../assets/culto-iglesia.jpg";
---

<div
  class="flex flex-col justify-center items-center text-[#141414] py-20 px-5"
>
  <h1 class="md:text-[45px] text-[35px] text-center font-extrabold mb-[31px]">
    Horarios y reuniones
  </h1>
  <h3 class="lg:text-[21px] text-[18px] mb-[75px] text-center font-semibold">
    ¡Llega temprano para que no te pierdas de nada!
  </h3>
  <div class="lg:flex lg:gap-x-[30px]">
    <CardHorario
      imageExample={culto_iglesia}
      titleCard={"Culto de iglesia"}
      horaCard={"Domingos - 10:30 am"}
      direccionCard={"C. Torres de la Alameda, 2, 28806 Alcalá de Henares, Madrid"}
    />
    <CardHorario
      imageExample={jovenes_reu}
      titleCard={"Culto de Jóvenes"}
      horaCard={"Sábados - 18:00 pm"}
      direccionCard={"C. Torres de la Alameda, 2, 28806 Alcalá de Henares, Madrid"}
    />
  </div>
  <div>
    <a
      href="/visitanos"
      class="bg-[#0059AD] text-white text-xl font-semibold rounded-md h-10 mt-6 p-7 flex justify-center items-center"
      >Ver más</a
    >
  </div>
</div>
